<% if user_signed_in? %>
  <%= form_for @user, :url => url_for(:controller => 'profiles', :action => 'update') do |f| %>
 <h2 style="text-align:center">Wavez Events Registration</h2>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
     <div class="col-sm-10">
      <p class="form-control-static"><%=@user.email%></p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Wavez ID</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%="wavez"+@user.id.to_s  %></p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.name %></p>
    </div>
  </div>
<div style="color:red">     
<%= @user.errors.full_messages %>

</div>
<!--  <div class="form-inline">

        <label class="radio-inline">
        <input type="radio" name="optradio">Yes
        </label>
        <label class="radio-inline">
        <input type="radio" name="optradio">No
        </label>
  </div> -->

  <div class="alert alert-info">
   <h3>Roboceana Workshop</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :robo, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :robo, true %>
    <%= f.label :robo, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :robo, false%>
  </div> 
</div>
  <div class="alert alert-info">
   <h3>Roboceana Event</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :roboe, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :roboe, true %>
    <%= f.label :roboe, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :roboe, false%>
  </div> 
</div>
<div class="alert alert-info">
   <h3>Autonomous Watercraft Event</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :awc, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :awc, true %>
    <%= f.label :awc, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :awc, false%>
  </div> 
</div>
<div class="alert alert-info"> 
<h3>RC Boats</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :rc, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :rc, true %>
    <%= f.label :rc, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :rc, false%>
  </div>
</div>   
<div class="alert alert-info">
   <h3>WebDevelopment Workshop</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :webd, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :webd, true %>
    <%= f.label :webd, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :webd, false%>
  </div> 
</div>
<div class="alert alert-info">
   <h3>Free Style solo</h3>
    <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :freestyle, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :freestyle, true %>
    <%= f.label :freestyle, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :freestyle, false%>
  </div> 
</div>

<div class="alert alert-info">
   <h3>Game Drone</h3>
    <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :game, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :game, true %>
    <%= f.label :game, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :game, false%>
  </div> 
</div>    


<div class="alert alert-info"> 
<h3>Research Expo</h3>
   <div class="form-inline">
    <%# f.label :expo,:class=>'radio-inline' %>
    <%= f.label :expo, "Yes", :value => "true",:class=>'radio-inline'  %>
    <%= f.radio_button :expo, true %>
    <%= f.label :expo, "No", :value => "false",:class=>'radio-inline' %>
    <%= f.radio_button :expo, false%>
  </div>
</div>

<div class="alert alert-info">
<h3>File submission for Research Expo</h3>
  <div class="form-inline">
     <%= f.file_field :research %>
  </div>
</div>



<div class="alert alert-info">
<h3>IDP Level 1</h3>
  <div class="form-inline">
     <%= f.file_field :avatar %>
  </div>
</div>
<div class="alert alert-info">
<h3>IDP Level 2</h3>
  <div class="form-inline">
     <%= f.file_field :avatar1 %>
  </div>
</div>
<!--
<div class="alert alert-info">
<h3>IDP problem statement three</h3>
  <div class="form-inline">
     <%# f.file_field picture %>
  </div>
</div>
-->
<%= f.submit "submit",:class=>'btn btn-success' %>
<% end %>


<% elsif %>
 <h2><%="please login to view this page"%></h2>
 <%= link_to root_url %> 
<% end %>
