<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <head>
	    <link rel="shortcut icon" type="image/png" href="assets/wavezlogo.png">
		<title>Wavez 2016 | IIT Madras Naval Architecture and Ocean Engineering Department Annual Techno-Cultural Festival</title>

		<!-- meta -->
		<meta name="description" content="Wavez is the annual techno-cultural festival of the Department of Naval Architecture and Ocean Engineering at IIT Madras. It involves both Technical and Cultural events and is aimed at increasing the intra-department and inter-department interactions.">
		<meta name="keywords" content="Wavez 2016">
		<meta name="author" content="Wavez 2016 WebOps Team">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		
		<!-- css -->
		<link rel="stylesheet" href="assets/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/font-awesome.min.css"/>
		<link rel="stylesheet" href="assets/animate.css"/>
		<link rel="stylesheet" href="assets/style.css" media="screen"/>
		<link rel="stylesheet" href="assets/materialPreloader.css" media="screen"/>
            

        <!-- // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		 -->

		 <!-- // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		 -->

        <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3-alpha1/jquery.min.js"></script> -->

        <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> -->

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.0/animate.min.css"> -->



  








     </head>










</head>
<body>

<%= yield %>

</body>
</html>
